

/* Global Styling */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(120deg, lightblue,rgb(76,76,95));
    font-family: Poppins, sans-serif;
    min-height: 100vh;
}
/* header components */

.nav-header {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: rgb(136, 136, 218);
  align-items: center;
}
header h2 {
  color: rgb(76, 76, 95);
}
nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  float: right;
}
ul li a {
  text-decoration: none;
  color: rgb(76, 76, 95);
}

nav li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  font-family: "Open Sans", "Droid Sans", Helvetica, Arial, sans-serif;
  color: #222;
  padding: 0 1rem;
}
nav li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
nav > li > a:hover,
nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}

/* About me componenets */

.about-section {
  display: flex;
  justify-content: space-around;
  width:80%;
  margin: auto;
}
.description {
  max-width: 50%;
}
.about-me {
  max-width: 40%;
}

/* portfolio components*/
#project{
    width:80%;
    margin: auto;
}
.myWork {
  text-align: center;
}

.column {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.all-work-content {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
}

.one {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px rgb(136, 136, 218);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background: url("../images/noteTaker.PNG");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.two {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px rgb(136, 136, 218);
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  background: url("../images/zookeeper.PNG");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
.three {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px rgb(136, 136, 218);
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
  background: url("../images/dev-connect.PNG");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
.four {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px rgb(136, 136, 218);
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
  background: url("../images/exploreOutdoors.PNG");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.five {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px rgb(136, 136, 218);
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
  background: url("../images/workdayscheduler.PNG");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.six {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px rgb(136, 136, 218);
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
  background: url("../images/todolist.PNG");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Contact components */
.container{
    width:80%;
    margin: auto;
    box-shadow: 5px 10px 18px rgb(136, 136, 218);
}
.contact-me{
    text-align: center;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color:rgb(136, 136, 218);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: rgb(76, 76, 95);
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Footer Components */
